[client]
port            = 3306
socket          =/application/mysql/tmp/mysql.sock
default-character-set = utf8
 
[mysqld]
user    = mysql
port    = 3306
character-set-server = utf8
socket  = /application/mysql/tmp/mysql.sock
basedir = /application/mysql
datadir = /application/mysql/data
log-error = /application/mysql/data/mysql_err.log
pid-file = /application/mysql/data/mysql.pid
 



bulk_insert_buffer_size = 64M
myisam_sort_buffer_size = 64M
myisam_max_sort_file_size = 10G
myisam_repair_threads = 1
myisam_recover

long_query_time = 2
slow_query_log
slow_query_log_file = /application/mysql/data/slow.log
skip-name-resolv
#skip-locking
#skip-networking

server-id = 1


#bin log configure options by clc
#log_slave_updates = 1
#log-bin = /application/mysql/data/mysql-bin
#binlog_format = mixed
#binlog_cache_size = 4M
#max_binlog_cache_size = 8M
#max_binlog_size = 1G
#expire_logs_days = 90
#binlog-ignore - db = mysql
#binlog-ignore - db = information_schema
 
#key_buffer_size = 384M
#sort_buffer_size = 2M
#read_buffer_size = 2M
#read_rnd_buffer_size = 16M
#join_buffer_size = 2M
#thread_cache_size = 8
#query_cache_size = 32M
#query_cache_limit = 2M
#query_cache_min_res_unit = 2k
#thread_concurrency = 32
 
#table_cache = 614
#table_open_cache = 512
#open_files_limit    = 10240
#back_log = 600
#max_connections = 5000
#max_connect_errors = 6000
#external-locking = FALSE
 
#max_allowed_packet = 16M
#thread_stack = 192K
#transaction_isolation = READ-COMMITTED
#tmp_table_size = 256M
#max_heap_table_size = 512M
 
 
 
#innodb engine configure
#innodb_additional_mem_pool_size = 16M
#innodb_buffer_pool_size = 512M
#innodb_data_file_path = ibdata1:256M:autoextend
#innodb_file_io_threads = 4
#innodb_thread_concurrency = 8
#innodb_flush_log_at_trx_commit = 2
#innodb_log_buffer_size = 16M
#innodb_log_file_size = 128M
#innodb_log_files_in_group = 3
#innodb_max_dirty_pages_pct = 90
#innodb_lock_wait_timeout = 120
#innodb_file_per_table = 0
 
[mysqldump]
quick
max_allowed_packet = 64M
 
[mysql]
no-auto-rehash
